.flex-container {
display:flex;
flex-wrap: wrap;
gap: 20px;
}

.flex-item {
background-color: rgb(255, 183, 0);
color:white;
width: calc(25% - 20px);
height:50px;
text-align: center;
border-radius: 4px;
line-height:50px;
}
.grid{
    width: calc(50% - 20px);
}